@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2") format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

.landing-animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    z-index: 0;

    // Gradient Background Animation
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    // background-attachment: fixed; // Removed to avoid mobile issues within absolute container

    .wave {
        background: rgb(255 255 255 / 25%);
        border-radius: 1000% 1000% 0 0;
        position: absolute;
        width: 200%;
        height: 12em;
        animation: wave 10s -3s linear infinite;
        transform: translate3d(0, 0, 0);
        opacity: 0.8;
        bottom: 0;
        left: 0;
        z-index: 1;

        &:nth-of-type(2) {
            bottom: -1.25em;
            animation: wave 18s linear reverse infinite;
            opacity: 0.8;
        }

        &:nth-of-type(3) {
            bottom: -2.5em;
            animation: wave 20s -1s reverse infinite;
            opacity: 0.9;
        }
    }
}

@keyframes gradient {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

@keyframes wave {
    2% { transform: translateX(1); }
    25% { transform: translateX(-25%); }
    50% { transform: translateX(-50%); }
    75% { transform: translateX(-25%); }
    100% { transform: translateX(1); }
}

.pop-art-text {
    font-family: "Meta", sans-serif;
    color: transparent;
    -webkit-text-stroke: 3px #d6f4f4;
    font-variation-settings: "wght" 900, "ital" 1;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    
    text-shadow: 
        8px 8px 0px #07bccc,
        16px 16px 0px #e601c0,
        24px 24px 0px #e9019a,
        32px 32px 0px #f40468,
        45px 45px 10px rgba(72, 40, 150, 0.5);

    &:hover {
        font-variation-settings: "wght" 100, "ital" 0;
        -webkit-text-stroke: 2px #fff;
        text-shadow: none;
        transform: scale(0.9);
    }
}
